.box
{
    border: 1px solid black;
    padding: 25px;
    width: 500px;
    margin: auto;
}

.card
{
    border: 1px solid black;
    width: 100px;
    margin:auto;
    height: 110px;
    margin-top: 10px;
}