.box
{
    border: 1px solid black;
    padding: 25px;
    width: 500px;
    margin: auto;
}

.center
{
    text-align:center;
}

.card
{
    border: 1px solid black;
    width: 300px;
    margin:auto;
    height: 500px;
    margin-top: 10px;
    padding: 0 10px;
}

#formattedName
{
    border: 1px solid black;
    padding: 5px;
    background-color:tan;
    opacity: 0.7;
}

.white{
    background-color: #ffffe6
}
.blue{
    background-color: #80bfff
}
.black{
    background-color: #00001a
}
.red {
    background-color: #ff8080
}
.green{
    background-color: #009933
}

#vehicle li
{
    text-align: left;
}