<div class="box" style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <p>
    The answer to life is {{secret}}.
  </p>
  <p>
    The following content will come from the textbox:<br/>
    {{example.text}}
  </p>

  <input [(ngModel)]="story.name">

  <ul id="vehicle">
    <li *ngFor="let vehicle of vehicles">
      {{vehicle}}
    </li>
  </ul>

  <div *ngIf="vehicles.length">
    <p>You have {{vehicles.length}} items in vehicles</p>
  </div>

  <h3>Extracting Tasty Object</h3>
  <p>
    Name: {{tasty.name}}<br />
    Value: {{tasty.value}}<br />
    Monster: {{beast}}
  </p>

  <input [value]="tasty.name">

  <div class="card">
    
  </div>

</div>