<div class="box">
  <h1>
    {{title}}
  </h1>

  <section id="picker">
    <div id="cardName">
      <p>Name: <input type="text" [(ngModel)]="card.name"> </p>
    </div>

    <form>
      <input type="radio" (change)="updateColor()" value="White" name="color" [(ngModel)]="myColor"> White
      <input type="radio" (change)="updateColor()" value="Blue" name="color" [(ngModel)]="myColor"> Blue
      <input type="radio" (change)="updateColor()" value="Black" name="color" [(ngModel)]="myColor"> Black
      <input type="radio" (change)="updateColor()" value="Red" name="color" [(ngModel)]="myColor"> Red
      <input type="radio" (change)="updateColor()" value="Green" name="color" [(ngModel)]="myColor"> Green
    </form>

    <p>
      Image: <input type="text" [(ngModel)]="card.imagePath">
    </p>
        
  </section>


  <section class="card" [class.white]="myColor == 'White'" [class.blue]="myColor == 'Blue'" [class.black]="myColor == 'Black'" 
      [class.red]="myColor == 'Red'" [class.green]="myColor == 'Green'">
    <p id="formattedName" *ngIf="card.name.length">{{card.name}}</p>
    <img *ngIf="card.imagePath.length" [src]="card.imagePath" height="165" width="100%" />
  </section>
</div>